<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <h1>Awesome Artifacts</h1>
    </header>
    <main>
        {{> cart}}
   
    </main>
    <footer>
        <p>&copy; 2023 AwesomeArtifacts</p>
    </footer>
</body>
</html>
